/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

.main-gallery {
  margin-left: 0;
}

.gallery-cell {
  width: 100%;
  /*height: 300px;*/
  /*margin-right: 10px;*/
  /* center images in cells with flexbox */
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.gallery.is-fullscreen .gallery-cell {
  height: 100%;
}

.gallery-cell-image {
  display: block;
  /*max-height: 100%;*/
  width: 100%
}

.gallery.is-fullscreen .gallery-cell-image {
  max-width: 100%;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #8777FF;
}

.flickity-prev-next-button {
  width: 4%;
  height: 8.5%;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -4.8%;
}
.flickity-prev-next-button.next {
  right: -4.8%;
}